In [1]:
import pandas as pd

data = pd.read_csv(r"C:\Users\slowg\Desktop\convertcsv.csv",sep=';')

In [2]:
print(data)

          EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0    1/1/2016           38        23        52                 30.03
1    1/2/2016           36        18        46                 30.02
2    1/3/2016           40        21        47                 29.86
3    1/4/2016           25         9        44                 30.05
4    1/5/2016           20        -3        41                 30.57
5    1/6/2016           33         4        35                 30.50
6    1/7/2016           39        11        33                 30.28
7    1/8/2016           39        29        64                 30.20
8    1/9/2016           44        38        77                 30.16
9   1/10/2016           50        46        71                 29.59
10  1/11/2016           33         8        37                 29.92
11  1/12/2016           35        15        53                 29.85
12  1/13/2016           26         4        42                 29.94
13  1/14/2016           30        12        47                 29.95
14  1/15/2016           43        31        62                 29.82
15  1/16/2016           47        37        70                 29.52
16  1/17/2016           36        23        66                 29.78
17  1/18/2016           25         6        53                 29.83
18  1/19/2016           22         3        42                 30.03
19  1/20/2016           32        15        49                 30.13
20  1/21/2016           31        11        45                 30.15
21  1/22/2016           26         6        41                 30.21
22  1/23/2016           26        21        78                 29.77
23  1/24/2016           28        11        53                 29.92
24  1/25/2016           34        18        54                 30.25
25  1/26/2016           43        29        56                 30.03
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
0                10           8.0               0           5       NaN
1                10           7.0               0           3       NaN
2                10           8.0               0           1       NaN
3                10           9.0               0           3       NaN
4                10           5.0               0           0       NaN
5                10           4.0               0           0       NaN
6                10           2.0               0           3       NaN
7                10           4.0               0           8       NaN
8                 9           8.0               T           8      Rain
9                 4           NaN             1.8           7      Rain
10               10           NaN               0           1       NaN
11               10           6.0               T           4       NaN
12               10          10.0               0           0       NaN
13               10           5.0               T           7       NaN
14                9           5.0               T           2       NaN
15                8           7.0            0.24           7      Rain
16                8           6.0            0.05           6  Fog-Snow
17                9          12.0               T           2      Snow
18               10          11.0               0           1       NaN
19               10           6.0               0           2       NaN
20               10           6.0               0           1       NaN
21                9           NaN            0.01           3      Snow
22                1          16.0            2.31           8  Fog-Snow
23                8           6.0               T           3      Snow
24               10           3.0               0           2       NaN
25               10           7.0               0           2       NaN
26               10           7.0               T           3      Rain
27               10           5.0               0           1       NaN
28               10           8.0               0           4       NaN
29               10           7.0               0           0       NaN
30               10           5.0               0           0       NaN

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241

In [13]:
print(data.head())

        EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0  1/1/2016           38        23        52                 30.03
1  1/2/2016           36        18        46                 30.02
2  1/3/2016           40        21        47                 29.86
3  1/4/2016           25         9        44                 30.05
4  1/5/2016           20        -3        41                 30.57

   VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover Events  \
0               10           8.0               0           5    NaN
1               10           7.0               0           3    NaN
2               10           8.0               0           1    NaN
3               10           9.0               0           3    NaN
4               10           5.0               0           0    NaN

   WindDirDegrees
0             281
1             275
2             277
3             345
4             333

In [14]:
print(data['Temperature'])

0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64

In [15]:
print(data['Temperature'].max())

50

In [6]:
print(data[['EST','Temperature','WindSpeedMPH']][data['Temperature']>=40])

          EST  Temperature  WindSpeedMPH
2    1/3/2016           40           8.0
8    1/9/2016           44           8.0
9   1/10/2016           50           NaN
14  1/15/2016           43           5.0
15  1/16/2016           47           7.0
25  1/26/2016           43           7.0
26  1/27/2016           41           7.0
30  1/31/2016           46           5.0

In [21]:
data['WindSpeedMPH']

0      8.0
1      7.0
2      8.0
3      9.0
4      5.0
5      4.0
6      2.0
7      4.0
8      8.0
9      NaN
10     NaN
11     6.0
12    10.0
13     5.0
14     5.0
15     7.0
16     6.0
17    12.0
18    11.0
19     6.0
20     6.0
21     NaN
22    16.0
23     6.0
24     3.0
25     7.0
26     7.0
27     5.0
28     8.0
29     7.0
30     5.0
Name: WindSpeedMPH, dtype: float64

In [22]:
data['WindSpeedMPH'].fillna(0)

0      8.0
1      7.0
2      8.0
3      9.0
4      5.0
5      4.0
6      2.0
7      4.0
8      8.0
9      0.0
10     0.0
11     6.0
12    10.0
13     5.0
14     5.0
15     7.0
16     6.0
17    12.0
18    11.0
19     6.0
20     6.0
21     0.0
22    16.0
23     6.0
24     3.0
25     7.0
26     7.0
27     5.0
28     8.0
29     7.0
30     5.0
Name: WindSpeedMPH, dtype: float64

In [3]:

keyss = ['Name','Roll','Reg']
name = ['Akash','Rahim','Karim']
roll = [100128,100129,100130]
reg = [150165,150166,150167]


dic = {}
dic = {keyss[0]:name,keyss[1]:roll,keyss[2]:reg}
print(dic)

{'Name': ['Akash', 'Rahim', 'Karim'], 'Roll': [100128, 100129, 100130], 'Reg': [150165, 150166, 150167]}

In [4]:
df = pd.DataFrame(dic)

In [5]:
print(df)

    Name     Reg    Roll
0  Akash  150165  100128
1  Rahim  150166  100129
2  Karim  150167  100130

In [13]:
import math
print(data[['EST','Temperature','WindSpeedMPH']][data['WindSpeedMPH'].isnull()])

          EST  Temperature  WindSpeedMPH
9   1/10/2016           50           NaN
10  1/11/2016           33           NaN
21  1/22/2016           26           NaN

In [15]:
print(data[['EST','Temperature','WindSpeedMPH']][data['WindSpeedMPH'].isnull() == False])

          EST  Temperature  WindSpeedMPH
0    1/1/2016           38           8.0
1    1/2/2016           36           7.0
2    1/3/2016           40           8.0
3    1/4/2016           25           9.0
4    1/5/2016           20           5.0
5    1/6/2016           33           4.0
6    1/7/2016           39           2.0
7    1/8/2016           39           4.0
8    1/9/2016           44           8.0
11  1/12/2016           35           6.0
12  1/13/2016           26          10.0
13  1/14/2016           30           5.0
14  1/15/2016           43           5.0
15  1/16/2016           47           7.0
16  1/17/2016           36           6.0
17  1/18/2016           25          12.0
18  1/19/2016           22          11.0
19  1/20/2016           32           6.0
20  1/21/2016           31           6.0
22  1/23/2016           26          16.0
23  1/24/2016           28           6.0
24  1/25/2016           34           3.0
25  1/26/2016           43           7.0
26  1/27/2016           41           7.0
27  1/28/2016           37           5.0
28  1/29/2016           36           8.0
29  1/30/2016           34           7.0
30  1/31/2016           46           5.0

In [16]:
print(data.Temperature)

0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64

In [17]:
print(data.columns)

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [20]:
print(data.loc[0:5])

        EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0  1/1/2016           38        23        52                 30.03
1  1/2/2016           36        18        46                 30.02
2  1/3/2016           40        21        47                 29.86
3  1/4/2016           25         9        44                 30.05
4  1/5/2016           20        -3        41                 30.57
5  1/6/2016           33         4        35                 30.50

   VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover Events  \
0               10           8.0               0           5    NaN
1               10           7.0               0           3    NaN
2               10           8.0               0           1    NaN
3               10           9.0               0           3    NaN
4               10           5.0               0           0    NaN
5               10           4.0               0           0    NaN

   WindDirDegrees
0             281
1             275
2             277
3             345
4             333
5             259

In [2]:
print(data.iloc[0:5])

        EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0  1/1/2016           38        23        52                 30.03
1  1/2/2016           36        18        46                 30.02
2  1/3/2016           40        21        47                 29.86
3  1/4/2016           25         9        44                 30.05
4  1/5/2016           20        -3        41                 30.57

   VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover Events  \
0               10           8.0               0           5    NaN
1               10           7.0               0           3    NaN
2               10           8.0               0           1    NaN
3               10           9.0               0           3    NaN
4               10           5.0               0           0    NaN

   WindDirDegrees
0             281
1             275
2             277
3             345
4             333

In [3]:
print(data.head())

        EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0  1/1/2016           38        23        52                 30.03
1  1/2/2016           36        18        46                 30.02
2  1/3/2016           40        21        47                 29.86
3  1/4/2016           25         9        44                 30.05
4  1/5/2016           20        -3        41                 30.57

   VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover Events  \
0               10           8.0               0           5    NaN
1               10           7.0               0           3    NaN
2               10           8.0               0           1    NaN
3               10           9.0               0           3    NaN
4               10           5.0               0           0    NaN

   WindDirDegrees
0             281
1             275
2             277
3             345
4             333

In [5]:
print(data.iloc[:,0:2][data.Temperature>=40])

          EST  Temperature
2    1/3/2016           40
8    1/9/2016           44
9   1/10/2016           50
14  1/15/2016           43
15  1/16/2016           47
25  1/26/2016           43
26  1/27/2016           41
30  1/31/2016           46

In [6]:
print(data.iloc[:,-1])

0     281
1     275
2     277
3     345
4     333
5     259
6     293
7      79
8      76
9     109
10    289
11    235
12    284
13    266
14    101
15    340
16    345
17    293
18    293
19    302
20    312
21     34
22     42
23    327
24    286
25    244
26    311
27    234
28    298
29    257
30    241
Name: WindDirDegrees, dtype: int64

In [7]:
print(data.iloc[2])

EST                     1/3/2016
Temperature                   40
DewPoint                      21
Humidity                      47
Sea Level PressureIn       29.86
VisibilityMiles               10
WindSpeedMPH                   8
PrecipitationIn                0
CloudCover                     1
Events                       NaN
WindDirDegrees               277
Name: 2, dtype: object

In [8]:
data.iloc[0:5,6:9]

   WindSpeedMPH PrecipitationIn  CloudCover
0           8.0               0           5
1           7.0               0           3
2           8.0               0           1
3           9.0               0           3
4           5.0               0           0

In [9]:
print(data.shape)

(31, 11)

In [15]:
column = ["Day","Tem","Wind","Event"]
wd = [
    ('10/8/1995',30,5,'Rain'),
    ('10/8/1995',30,5,'Rain'),
    ('10/8/1995',30,5,'Rain')
]

df = pd.DataFrame(wd,columns=["Day","Tem","Wind","Event"])
print(df)

         Day  Tem  Wind Event
0  10/8/1995   30     5  Rain
1  10/8/1995   30     5  Rain
2  10/8/1995   30     5  Rain

In [16]:
xy = column
df = pd.DataFrame(wd,columns=xy)

In [17]:
print(df)

         Day  Tem  Wind Event
0  10/8/1995   30     5  Rain
1  10/8/1995   30     5  Rain
2  10/8/1995   30     5  Rain

In [19]:
x = input()
print(x)
newtxt = x.split()
print(newtxt)

Amar nam aksh
Amar nam aksh
['Amar', 'nam', 'aksh']

In [20]:
print(len(newtxt))

3

In [43]:


wd=[]
for i in range(3):
    wd.append([])
    x = input()
    y = x.split()
    for j in range(len(y)):
        wd[i].append(y[j])
print(wd)

df = pd.DataFrame(wd,columns=xy)

10/8/1995 10 8 rain
10/8/1995 10 8 rain
10/8/1995 10 8 rain
[['10/8/1995', '10', '8', 'rain'], ['10/8/1995', '10', '8', 'rain'], ['10/8/1995', '10', '8', 'rain']]

In [44]:
print(y[3])

rain

In [45]:
print(df)

         Day Tem Wind Event
0  10/8/1995  10    8  rain
1  10/8/1995  10    8  rain
2  10/8/1995  10    8  rain

In [55]:
df = df.drop(df.index[0])

In [56]:
print(df)

         Day Tem Wind Event
2  10/8/1995  10    8  rain

In [59]:
df = df.drop('Event',axis=1)

In [60]:
print(df)

         Day Tem Wind
2  10/8/1995  10    8

In [63]:
df.drop(df.columns[2],axis=1)

         Day Tem
2  10/8/1995  10

In [64]:
print(df)

         Day Tem Wind
2  10/8/1995  10    8

In [65]:
df =  df.drop(df.columns[2],axis=1)

In [66]:
print(df)

         Day Tem
2  10/8/1995  10

In [67]:
print(df.index)

Int64Index([2], dtype='int64')

In [71]:
print(df.index[0])

2

In [72]:
print(df.shape)

(1, 2)